$link_color: #EE7621;
$alt_color: #efefef;

#content {
	padding-bottom: $footer_height;

	a {
		color: $link_color;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}

	h1, h2, h3 {
		margin: 0;
		padding: 0;
		font-weight: normal;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
		margin-top: 10px;
	}

	h3 {
		font-size: 22px;
	}

	input[type=text], input[type=tel], input[type=password], input[type=number], input[type=email], select {
		box-sizing: border-box;
		font-size: 16px;
		margin-bottom: 10px;
		text-align: center;
		padding: 8px;
		width: 100%;
	}

	button, input[type=submit] {
		box-sizing: border-box;
		padding: 8px;
		min-width: 200px;
		width: auto;
		cursor: pointer;
	}

	.center {
		text-align: center;
	}

	.empty {
		margin: 30px 0;
		font-size: 22px;
		text-align: center;
	}

	.label {
		padding: 0 5px;
	}
	.form {
		padding: 10px 5px;
		text-align: center;
	}

	.small {
		font-size: 16px;
	}

	// Static pages
	.page {
		padding: $edge_padding;
	}

	// Game Page
	.game {
		.section {
			padding: $edge_padding;

			&:nth-of-type(even) {
				background: $alt_color;
			}

			.info {
				padding: 0 10px;
				div { 
					padding-bottom: 5px;
					overflow: hidden;
					clear: both;

					span:first-of-type { float: left; }
					span:last-of-type { float: right;}
				}

			}
		}
	}

	// Schedule

	.scroll {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			border-bottom: 1px solid #ddd;
			overflow: hidden;
			padding: $edge_padding;

			&:first-of-type { border-top: 1px solid #ddd; }
			&:nth-of-type(even) { background: $alt_color; }
			&:hover { background: #fbf2d3; }

			a {
				color: #000;
				display: block;
				text-decoration: none;
				overflow: hidden;
			}

			.phone {
				color: $link_color;
				&:hover { text-decoration: underline; }
			}

			.row {
				width: 100%;
				clear: both;
			}

			.location, .teams, .level, .date, .time {
				display: inline-block;
			}

			.date, .time { font-size: 24px; }
			.location, .teams, .level { font-size: 18px; }

			.date { float: left; }
			.time { float: right; }

			.teams { float: left; }
			.location { float: right; }

		}

	}
}