#header {
	background: #d27e41 url('/assets/images/header.png');
	color: #fff;
	height: 55px;
	line-height: 55px;
	padding: 0 $edge_padding;
	text-shadow: 1px 1px #333;

	a {
		color: #fff;
		text-decoration: none;
	}

	// Logo
	.logo {
		display: inline-block;
		float: left;
		font-size: 36px;
	}

	// Navigation Menu
	.menu {
		display: inline-block;
		float: right;

		img {
			cursor: pointer;
			height: 20px;
			margin-top: -3px;
			vertical-align: middle;
			width: auto;

			filter: drop-shadow(1px 1px #000);
		}
	}
}